// Обнуление
@import "null_style.scss";
// Миксины
@import "mixins.scss";
// Полезные настройки
@import "ui.scss";
// Подключаем шрифты
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Roboto:wght@400;500;700&display=swap");
// Шрифты по умолчанию
$fontfamily: "Roboto";
// Переменные

// Общие параметры
body {
  font-family: $fontfamily;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #5e5e5e;
}
a {
  display: inline-block;
}
// Оболочка
.wrapper {
}
// Основная сетка
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
// Подключение файлов стилей, страниц и элементов
@import "footer.scss";
@import "header.scss";
// Основной блок
// Header
.header {
}
.header__top {
  background-color: #303030;
}
.header__contacts::after {
  content: "";
  clear: both;
  display: block;
}
.header__phone {
  line-height: 36px;
  padding: 5px 0 4px 0;
  color: #cbcacb;
  letter-spacing: 0.25px;
  padding-left: 20px;
  padding-right: 30px;
}
.header__email {
  line-height: 36px;
  padding: 5px 0 4px 0;
  color: #cbcacb;
  letter-spacing: 0.25px;
  padding-left: 25px;
}

.header__btn {
  float: right;
  font-size: 16px;
  line-height: 36px;
  color: #1b1b1b;
  background-color: #ffc222;
  padding: 5px 20px 4px 50px;
}
//
.header__content {
  padding: 34px 0px 24px;
}
.header__content-inner {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: inline-block;
}
.header__menu {
  & li + li {
    padding-left: 10px;
  }
  & li {
    display: inline-block;
    & > a {
      font-size: 16px;
      color: #323232;
      line-height: 36px;
      padding: 0px 16px 0px;
      border: 1px solid #ffc02200;
      transition: all 0.4s;
      &:hover {
        border: 1px solid #ffc022;
      }
    }
  }
}
//
